---
import PrimaryLayout from "../layouts/PrimaryLayout.astro";
import { ContactPhotos } from "../components/ContactPhotos";
const pageTitle = "Contact";
---

<script src="https://kit.fontawesome.com/b94f4ae545.js" crossorigin="anonymous"
></script>

<PrimaryLayout pageTitle={pageTitle}>
  <div
    class="page-container animate-fade animate-once animate-duration-[500ms] animate-delay-300 animate-ease-in-out"
  >
    <div class="contact-container">
      <h1 class="content-header">WHERE TO FIND ME</h1>
      <div class="content-body">
        <p class="contact-text">
          Let's get in touch! Coffee? Jam session? Walk on the beach?
        </p>
        <ul class="contact-list">
          <li class="contact-element">
            <a href="https://www.linkedin.com/in/lucasdunker/"
              ><i class="fa-brands fa-linkedin fa-5x"></i></a
            >
          </li>
          <li class="contact-element">
            <a href="https://github.com/Lucas-Dunker"
              ><i class="fa-brands fa-github fa-5x"></i></a
            >
          </li>
          <li class="contact-element">
            <a href="mailto:dunker.l@northeastern.edu"
              ><i class="fa-solid fa-envelope fa-5x"></i></a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="image-container">
      <ContactPhotos client:visible />
    </div>
  </div>
</PrimaryLayout>

<style>
  .page-container {
    display: flex;
    flex-direction: row;
    margin-left: 25vw;
    margin-right: 25vw;
    max-width: 50vw;
    justify-content: space-between;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: left;
  }

  .content-header {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 2rem;
    font-family: "DM Serif Display", sans-serif;
  }

  .contact-text {
    margin-bottom: 2rem;
  }

  .contact-list {
  }

  .contact-element {
    display: inline-block;
    margin: 2rem;
  }
  .image-container {
    padding-left: 4rem;
  }

  @media screen and (max-width: 650px) {
    .contact-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: auto;
      max-width: 90%;
    }

    .contact-body {
      text-align: center;
    }
  }

  @media screen and (max-width: 1500px) {
    .image-container {
      display: none;
    }
  }
</style>
