---
import PrimaryLayout from "../layouts/PrimaryLayout.astro";
import ContactPhoto from "../components/ContactPhoto.astro";
const pageTitle = "Contact";
---

<PrimaryLayout pageTitle={pageTitle}>
  <div
    class="page-container animate-fade animate-once animate-duration-[500ms] animate-delay-300 animate-ease-in-out"
  >
    <div class="contact-container">
      <h1 class="content-header">WHERE TO FIND ME</h1>
      <div class="content-body">
        <p class="contact-text">
          Let's get in touch! Coffee? Jam session? Walk on the beach?
        </p>
      </div>
    </div>
    <div class="image-container">
      <ContactPhoto />
    </div>
  </div>
</PrimaryLayout>

<style>
  .page-container {
    display: flex;
    flex-direction: row;
    margin-left: 25vw;
    margin-right: 25vw;
    max-width: 50vw;
    justify-content: space-between;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: left;
  }

  .content-header {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 2rem;
    font-family: "DM Serif Display", sans-serif;
  }

  .contact-text {
    margin-bottom: 2rem;
  }

  .contact-list {
  }

  .contact-element {
    display: inline-block;
    margin: 2rem;
  }
  .image-container {
    padding-left: 4rem;
  }

  @media screen and (max-width: 650px) {
    .contact-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: auto;
      max-width: 90%;
    }

    .contact-body {
      text-align: center;
    }
  }

  @media screen and (max-width: 1500px) {
    .image-container {
      display: none;
    }
  }
</style>
