---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import siteConfig from "../layouts/site-config";
---

<BaseLayout description={siteConfig.description}>
	{
		(
			<div class="mb-16 sm:mb-24">
				<h2 class="mb-12 text-xl font-serif italic sm:mb-16 sm:text-2xl">
					Projects
				</h2>
				<div class="mt-12 sm:mt-16" />
			</div>
		)
	}
</BaseLayout>
