---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/jpg" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Lucas Dunker</title>
  </head>
  <body class="color-bg-main color-text-main">
    <Header />
    <h1>PLACEHOLDER</h1>
    <Footer />
  </body>
</html>
