---
import PrimaryLayout from "../layouts/PrimaryLayout.astro";
import WritingPhoto from "../components/WritingPhoto.astro";
const pageTitle = "Writing";
---

<PrimaryLayout pageTitle={pageTitle}>
  <div
    class="page-container animate-fade animate-once animate-duration-[500ms] animate-delay-300 animate-ease-in-out"
  >
    <div class="contact-container">
      <h1 class="content-header">WHAT I'M UP TO</h1>
      <div class="content-body">
        <p class="contact-text">Coming Soon!</p>
      </div>
    </div>
    <div class="image-container">
      <div class="text-center mb-2 mt-4">
        <span class="font-cursive text-4xl">drag me around!</span>
      </div>
      <WritingPhoto />
    </div>
  </div>
</PrimaryLayout>

<style>
  .page-container {
    display: flex;
    flex-direction: row;
    margin-left: 25vw;
    margin-right: 25vw;
    max-width: 50vw;
    justify-content: space-between;
  }
  .contact-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    text-align: left;
  }

  .content-header {
    font-weight: bold;
    font-size: x-large;
    margin-bottom: 2rem;
    font-family: "DM Serif Display", sans-serif;
  }

  .contact-text {
    margin-bottom: 2rem;
  }

  .contact-list {
  }

  .contact-element {
    display: inline-block;
    margin: 2rem;
  }
  .image-container {
    padding-left: 4rem;
  }

  @media screen and (max-width: 750px) {
    .page-container {
      display: block;
    }
    .contact-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: auto;
      max-width: 90%;
    }

    .image-container {
      display: none;
    }

    .contact-body {
      text-align: center;
    }
  }
</style>
