---
import { DraggableComponent } from "./DraggableComponent";
import { getImage } from "astro:assets";
import "@fontsource/just-another-hand";

// Get Random Image For Contact Page
import Fuji from "../assets/contactPictures/Fuji.jpg";
import Kyoto from "../assets/contactPictures/Kyoto.jpg";
import Pisgah from "../assets/contactPictures/Pisgah.jpg";
import WATERFALL from "../assets/contactPictures/WATERFALL.jpg";
import Sunset from "../assets/contactPictures/Sunset.jpg";
import Summit from "../assets/contactPictures/Summit.jpg";

let images = [Fuji, Kyoto, Pisgah, WATERFALL, Sunset, Summit];

let optimizedImages = [];

for (var i = 0; i < images.length; i++) {
  optimizedImages.push(
    await getImage({
      src: images[i],
      format: "avif",
    })
  );
}

const randomOptimizedImage =
  optimizedImages[Math.floor(Math.random() * images.length)];
---

<div class="text-center mb-2 mt-4">
  <span class="font-cursive text-4xl">drag me around!</span>
</div>
<DraggableComponent client:load image={randomOptimizedImage.src} />
