---
import { Icon } from "astro-icon/components";
const date = new Date();
const currentYear = date.getFullYear();
---

<footer
  class="animate-fade animate-once animate-duration-[500ms] animate-delay-1000 animate-ease-in-out"
>
  <div>
    <span
      >Made with ♥ + 💪 | © {currentYear} Lucas Dunker. All rights reserved. |
      <a href="https://www.linkedin.com/in/lucasdunker/"
        ><Icon name="linkedin" class="inline mx-1 mb-1 w-[1.5rem] h-[1.5rem]" />
      </a>
      <a href="https://github.com/Lucas-Dunker"
        ><Icon
          name="github"
          class="inline mx-1 mb-1 w-[1.5rem] h-[1.5rem]"
        /></a
      >
      <a href="mailto:dunker.l@northeastern.edu"
        ><Icon name="email" class="inline mx-1 mb-1 w-[1.5rem] h-[1.5rem]" /></a
      ></span
    >
  </div>
</footer>

<style>
  footer {
    width: 100vw;
    text-align: center;
    padding: 3rem 2rem;
    margin-top: auto;
    overflow: hidden;
    z-index: 1;
  }
</style>
