---
const date = new Date();
const currentYear = date.getFullYear();
---

<footer
  class="animate-fade-up animate-once animate-duration-[800ms] animate-delay-500 animate-ease-in-out"
>
  <div>
    <span
      >Made with ♥ + 💪 | © {currentYear} Lucas Dunker. All rights reserved.</span
    >
  </div>
</footer>

<style>
  footer {
    display: inline-block;
    position: fixed;
    bottom: 0;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
  }
</style>
