---
const date = new Date();
const currentYear = date.getFullYear();
---

<footer
  class="animate-fade animate-once animate-duration-[500ms] animate-delay-1000 animate-ease-in-out"
>
  <div>
    <span
      >Made with ♥ + 💪 | © {currentYear} Lucas Dunker. All rights reserved.</span
    >
  </div>
</footer>

<style>
  footer {
    width: 100vw;
    text-align: center;
    padding: 3rem 2rem;
    margin-top: auto;
    overflow: hidden;
    z-index: -1;
  }
</style>
