---
const date = new Date();
const currentYear = date.getFullYear();
---

<footer>
  <div>
    <span
      >Made with ♥ + 💪 | © {currentYear} Lucas Dunker. All rights reserved.</span
    >
  </div>
</footer>

<style>
  footer {
    width: 100vw;
    text-align: center;
    padding: 3rem 2rem;
    margin-top: auto;
  }
</style>
