---
import Navigation from "./Navigation.astro";
---

<header
  class="header animate-fade-up animate-duration-[800ms] animate-ease-in-out animate-normal"
>
  <a class="title-card" href="/">LUCAS DUNKER</a>
  <nav>
    <Navigation />
  </nav>
</header>

<style>
  .header {
    margin-top: 30px;
    display: block;
    text-align: center;

    font-weight: bold;
    text-transform: uppercase;
  }

  .title-card {
    font-size: 2rem;
    width: fit-content;
  }
</style>
