---
import Navigation from "./Navigation.astro";
import "@fontsource/dm-serif-display";
---

<header class="header">
  <a class="title-card" href="/">LUCAS DUNKER</a>
  <nav>
    <Navigation />
  </nav>
</header>

<style>
  .header {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    font-weight: bold;
    text-transform: uppercase;
  }

  .title-card {
    font-size: 2rem;
    width: fit-content;
    font-family: "DM Serif Display", sans-serif;
  }
</style>
