---
import Navigation from "./Navigation.astro";
import ThemeIcon from "../components/ThemeIcon.astro";
import "@fontsource/bebas-neue";
import "@fontsource/dm-serif-display";
---

<header class="header">
  <span
    class="title-card animate-fade-down animate-duration-[1500ms] animate-ease-in-out"
    >LUCAS DUNKER <ThemeIcon /></span
  >
  <div
    class="navigationBox animate-fade-up animate-duration-[1500ms] animate-delay-500 animate-ease-in-out"
  >
    <Navigation />
  </div>
</header>

<style>
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15rem;
    margin: auto;
    text-align: center;
    min-height: 100vh;
    font-weight: bold;
    text-transform: uppercase;
  }

  .title-card {
    font-size: 4rem;
    width: fit-content;
    font-family: "DM Serif Display", sans-serif;
  }
</style>
