---
import Navigation from "./Navigation.astro";
---

<header class="header">
  <span
    class="title-card animate-fade-down animate-once animate-duration-[1500ms] animate-ease-in-out"
    >LUCAS DUNKER</span
  >
  <div
    class="navigationBox animate-fade-up animate-once animate-duration-[1500ms] animate-delay-500 animate-ease-in-out"
  >
    <Navigation />
  </div>
</header>

<style>
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 15rem;
    margin: auto;
    text-align: center;
    min-height: 100vh;
    font-weight: bold;
    text-transform: uppercase;
  }

  .title-card {
    font-size: 4rem;
    width: fit-content;
  }
</style>
