---

---

<div class="header">
  <a class="title-card" href="/">LUCAS DUNKER</a>
  <div class="nav-links">
    <a href="/about">About</a>
    <a href="/work/">Work</a>
    <a href="/blog/">Blog</a>
    <a href="/contact/">Contact</a>
  </div>
</div>

<style lang="scss">
  .header a {
    display: block;
    text-align: center;
    margin: 10px 0;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
  }

  .title-card {
    font-size: 2rem;
  }

  .nav-links {
    width: 100%;
    top: 2rem;
    left: 48px;
    background-color: #14620e;
    display: flex;
    margin: 0;
  }

  .nav-links a:hover,
  .nav-links a:focus {
    color: white;
    background-color: #14620e;
  }

  .expanded {
    display: unset;
  }

  @media screen and (min-width: 636px) {
    .nav-links {
      display: flex;
      justify-content: center;
      width: auto;
      background: none;
    }

    .nav-links a {
      display: inline-block;
      padding: 5px 2px;
      margin: 10px;
    }
  }
</style>
