<div class="nav-links">
  <a class="nav-link dynamic-text" href="/About" data-text="About">About</a>
  <a class="nav-link dynamic-text" href="/Work/" data-text="Work">Work</a>
  <a class="nav-link dynamic-text" href="/Writing/" data-text="Writing"
    >Writing</a
  >
</div>

<style lang="scss">
  .nav-links {
    max-height: 6vh;
    justify-content: center;
    align-items: center;
  }

  .nav-link {
    padding: 5px;
    margin: 5px;
  }

  .dynamic-text {
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 1px;
      background: currentColor;
      transition: width 0.3s ease;
    }

    &::before {
      top: 0;
      right: 0;
    }

    &::after {
      bottom: 0;
      left: 0;
    }

    &:hover {
      opacity: 0.85;

      &::before,
      &::after {
        width: 100%;
      }
    }

    &:active {
      transform: scale(0.97);
    }
  }

  @media screen and (min-width: 636px) {
    .nav-links {
      flex-direction: row;
    }

    .nav-link {
      padding: 10px;
      margin: 5px;
      display: inline-block;
    }

    .dynamic-text {
      &::before,
      &::after {
        height: 2px;
      }
    }
  }
</style>
