---
import "@fontsource-variable/inter";
import HomepageBanner from "../components/HomepageBanner.astro";
import { ParticlesEngine } from "../components/Particles";
import { ViewTransitions } from "astro:transitions";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/jpg" href="/favicon.png" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="particles-container">
      {(<ParticlesEngine client:load />)}
    </div>
    <HomepageBanner />
  </body><style>
    body {
      font-family: "Inter", sans-serif;
    }
  </style>
</html>
